<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil provident quis aliquam deleniti quam praesentium maxime quo perferendis excepturi in? Provident et eveniet veniam ullam eius fugit fuga facilis sit!</p>
    </div>
</div>