<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">PATATAS</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, provident ipsum sint beatae ipsa in voluptatem eius sapiente fugit doloremque numquam, reiciendis nihil quasi porro tempore aspernatur unde distinctio molestias.</p>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more</a>
</div>