<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success"> SignUp <i class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>